[submodule "ebpf/libbpf-bootstrap"]
	path = archive/test-bpf/libbpf-bootstrap
	url = git@github.com:libbpf/libbpf-bootstrap.git
[submodule "bcc"]
	path = software/bcc
	url = git@github.com:iovisor/bcc.git
[submodule "csrc/bpftool"]
	path = third_party/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "csrc/tracee"]
	path = software/tracee
	url = git@github.com:aquasecurity/tracee.git
[submodule "html"]
	path = html
	url = git@github.com:ShawnZhong/linux-data.git
