[submodule "ebpf/libbpf-bootstrap"]
	path = csrc/ebpf/libbpf-bootstrap
	url = git@github.com:libbpf/libbpf-bootstrap.git
[submodule "paper"]
	path = paper
	url = https://git.overleaf.com/65d75bc228ad6eadf9e46c42
[submodule "bcc"]
	path = csrc/bcc
	url = git@github.com:iovisor/bcc.git
